<div class="container">

  <%= link_to 'Back to profile', profile_path(current_user), class: 'btn btn-primary' %>

  <h1><%= @trip.name %></h1>
  <h3>From <%= @trip.start_date %> to <%= @trip.end_date %></h3>

  <% @trip.activities.each do |acc| %>
    <ul>
      <li><%= acc.place_name %></li>
    </ul>
  <% end %>

  <%= render 'transportations/create_transportation', trip: @trip, transportation: @transportation %>
  <%= render 'accomodations/create_accomodation', trip: @trip, accomodation: @accomodation %>
  <%= render 'activities/create_activity', trip: @trip, activity: @activity %>
</div>

<br>

<div class="container">
  <%= month_calendar(events: @transportation_date + @accomodation_date + @activity_date, attribute: :start_date, end_attribute: :end_date) do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
      <div>
        <% if event.is_a? Transportation %>
          <%= event.name %>
        <% elsif event.is_a? Accomodation %>
          <%= event.place_name %>
        <% elsif event.is_a? Activity %>
          <%= event.place_name %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
