<div class="container">

  <%= link_to 'Back to profile', profile_path(current_user), class: 'btn btn-primary' %>

  <h1><%= @trip.name %></h1>
  <h3>From <%= @trip.start_date %> to <%= @trip.end_date %></h3>

  <% @trip.activities.each do |acc| %>
    <ul>
      <li><%= acc.name %></li>
    </ul>
  <% end %>

  <%= render 'transportations/create_transportation', trip: @trip, transportation: @transportation %>
  <%= render 'accomodations/create_accomodation', trip: @trip, accomodation: @accomodation %>
  <%= render 'activities/create_activity', trip: @trip, activity: @activity %>
</div>

<br>

<div class="container">
  <%= month_calendar(events: @transportation_date + @accomodation_date + @activity_date, attribute: :start_date, end_attribute: :end_date) do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
      <div>
        <% if event.is_a? Transportation %>
          <%# Button Modal %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal<%=event.id%>Activity">
            <%= event.name %>
          </button>

          <%# Corps Modal => Test %>
          <div class="modal fade" id="Modal<%=event.id%>Activity" tabindex="-1" aria-labelledby="Modal<%=event.id%>ActivityLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modal<%=event.id%>ActivityLabel"><%= event.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body">
                    content
                  </div>
              </div>
            </div>
          </div>
        <% elsif event.is_a? Accomodation %>
          <%# Button Modal %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal<%= event.class %><%= event.id %>">
            <%= event.name %>
          </button>

          <%# Corps Modal => Calendar Accomodation %>
          <div class="modal fade" id="Modal<%= event.class %><%= event.id %>" tabindex="-1" aria-labelledby="Modal<%= event.class %><%= event.id %>Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modal<%= event.class %><%= event.id %>Label"><%= event.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body">
                    content
                  </div>
              </div>
            </div>
          </div>
        <% elsif event.is_a? Activity %>
          <%# Button Modal %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal<%=event.id%>Activity">
            <%= event.name %>
          </button>

          <%# Corps Modal => Test %>
          <div class="modal fade" id="Modal<%=event.id%>Activity" tabindex="-1" aria-labelledby="Modal<%=event.id%>ActivityLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modal<%=event.id%>ActivityLabel"><%= event.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body">
                    content
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>


    <% end %>
  <% end %>
</div>
<br>
