<%# Button Modal %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCreateActivity">
  Add an activity
</button>

<%# Corps Modal => Create %>
<div class="modal fade" id="ModalCreateActivity" tabindex="-1" aria-labelledby="ModalCreateActivityLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCreateActivityLabel">Add your activity here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= simple_form_for [trip, activity] do |f| %>
        <div class="modal-body">
          <%= f.input :name %>
          <%= f.input :activity_type %>
          <%= f.date_field :start_date %>
          <%= f.date_field :end_date %>
          <%= f.input :address %>
          <%= f.input :price %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Add', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
